.center{
  text-align: center;
  
}

#wrap {
  padding-bottom: 10px;
   float: none;
    margin: 0 auto;
  color: white;
}

.terminal{
  font-family: monospace;
  font-size: 1em;
  color: white;

}

#wrap:after {
  content:"_";
  opacity: 0;
  animation: cursor 1s infinite;
  color: white;

}

.permissions{
  font-family: monospace;
  font-size: 1em;
}

.author{
  font-family: monospace;
  font-size: 1em;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}